<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head'); %>
</head>
<style>
    .buttons {
        text-align: right;
    }
</style>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="container" style="margin-top:2%">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="padding:2%">
                        <div class="text-center">
                            <img src="<%= movie.urlImage %>" class="rounded" alt="..." height="400" width="400">
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=movie.title%>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Réalisé par <b><%=movie.director%></b></h6>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">Année de sortie : <b><%=movie.releaseYear%></b></div>
                                    <div class="col">Durée : <b><%=movie.duration%></b></div>
                                </div>
                                <div class="row">
                                    <div class="col">Status : <b><%=selectedState.name %></b></div>
                                    <div class="col">Catégorie : <b><%=selectedCategory.name %></b></div>
                                </div>
                            </div>
                            <h6 class="card-title mb-2 text-dark">Description</h6>
                            <p class="card-text">
                                <%=movie.description%>
                            </p>
                            <div style="text-align:right;">
                                <div class="card-link">
                                    <a href="/movies/edit/<%= movie.id %>"><button class="btn btn-warning"><i class="fa fa-edit"></i></button></a>
                                </div>
                                <div class="card-link">
                                    <a href="/movies/delete/<%= movie.id %>"><button class="btn btn-danger"><i class="fa fa-trash"></i> </button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>